_workflow-documents/planning/BrightGift_Image_Processing_Workflow.json
{
  "name": "BrightGift Image Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/image-received",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        460,
        -580
      ],
      "id": "b3e50a6c-9e0a-40d7-9594-20a579bf3435",
      "name": "Webhook",
      "webhookId": "05e59fd0-cd10-4304-b42e-a42d72aee0c2",
      "notes": "Trigger for each image URL generated by Puppeteer."
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{$json.imageUrl}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        -580
      ],
      "id": "66d4ca9f-40ff-4283-9fd5-a5f77eb24aa3",
      "name": "Validate Image URL",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad894eb1-32b3-4f10-a8db-4dee35522bc8",
              "leftValue": "status code",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        -580
      ],
      "id": "cb8c1fcd-6f21-41fe-bf30-c604e5bb7e7c",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "jeff.lapenna@gmail.com",
        "subject": "❌ BrightGift image link failure",
        "message": "=A BrightGift image link failed.\n\nTimestamp: {{ $now }}\nWorkflow: {{ $workflow.name }}\n\nPlease review the logs in n8n and rerun the assistant manually if needed.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1300,
        -360
      ],
      "id": "d4a8ede2-1b95-495f-b381-c938185787c0",
      "name": "Gmail",
      "webhookId": "4a6cf467-a72e-43dc-9ccd-cb8d0782b7e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "GPT image link failure"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1500,
        -360
      ],
      "id": "94d2f1b1-c1f8-4fc5-9d70-dccfe6e90cd3",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "sendTo": "jeff.lapenna@gmail.com",
        "subject": "❌ BrightGift image link failure",
        "message": "=A BrightGift image link failed.\n\nTimestamp: {{ $now }}\nWorkflow: {{ $workflow.name }}\n\nPlease review the logs in n8n and rerun the assistant manually if needed.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        -360
      ],
      "id": "6eafe556-8ed0-441c-ae5c-cc262c5b8f19",
      "name": "Gmail1",
      "webhookId": "4a6cf467-a72e-43dc-9ccd-cb8d0782b7e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "GPT image link failure"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1080,
        -360
      ],
      "id": "5a833b46-a31e-4f57-aac3-c94279ae43ae",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        -600
      ],
      "id": "82352c08-f873-4bf7-9726-6f9f882f6863",
      "name": "download image",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89fa9d1e-25ea-4dd9-812e-624cd41cb0e3",
              "name": "webpUrl",
              "value": "=={{ \n  \"https://ik.imagekit.io/brightgift/tr:f-webp\" + \n  ($json[\"body.imageUrls\"] || \"\").replace(/^https?:\\/\\/[^/]+/, \"\").trim() \n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        -600
      ],
      "id": "c363653f-7d56-4c0d-954e-eefea43bfca7",
      "name": "build imagekit url"
    },
    {
      "parameters": {
        "jsCode": "const buffer = await $binaryToBuffer('data');\nreturn {\n  json: {\n    ...$json,\n    content: buffer.toString('base64'),\n  },\n  binary: {\n    data: $binary.data\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -600
      ],
      "id": "7d5041fb-759f-4135-b956-2b5f0236dca5",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/jtlapenna/bright-gift/contents/src/assets/blog-images/{{ $json.slug }}/{{ $json.filename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"message\": \"Add {{ $json.filename }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        -600
      ],
      "id": "09c7a302-416a-4691-86e5-e9fcbc40f97d",
      "name": "github image upload",
      "credentials": {
        "githubApi": {
          "id": "36ql9jDsFZ0o5PgW",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54b78d4a-1f50-4402-9888-383277b830e4",
              "name": "filename",
              "value": "={{ \n  $json.slug + '-' + \n  (\n    $json.promptIndex === 0 ? 'banner' :\n    $json.promptIndex === 1 ? 'social' :\n    $json.promptIndex === 2 ? 'og' :\n    'image-' + $json.promptIndex\n  ) + '.webp'\n}}",
              "type": "string"
            },
            {
              "id": "bc1d31a6-f290-4d98-a57b-ae63a7c63fee",
              "name": "slug",
              "value": "={{ $json.slug }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        -600
      ],
      "id": "d170e573-fa61-432e-a42b-72a8637daf0a",
      "name": "renameImages1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Image URL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "build imagekit url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download image": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build imagekit url": {
      "main": [
        [
          {
            "node": "download image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "renameImages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "renameImages1": {
      "main": [
        [
          {
            "node": "github image upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github image upload": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87cec7d4-d816-489d-aa1e-37b552070950",
  "meta": {
    "instanceId": "010748b7a1466c46dced3f8b2bdbc3bc174722f0672e5a4c9529354f5ff306f8"
  },
  "id": "2j9jX1RUraDg7wem",
  "tags": []
}