_workflow-documents/planning/BrightGift_Blog_Processing_Workflow.json
{
  "name": "BrightGift Blog Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/blog-received",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "230d91a1-b460-4ebf-9e37-38c0a9669b11",
      "name": "Webhook",
      "webhookId": "ca5a9fce-7631-412b-8d49-38c14868b1db"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $json.body.thread_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        0
      ],
      "id": "1b023bdf-9811-4eb0-ad27-64a00637618e",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "xhYw6tK9BPVC7BMo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get assistant's message (first in data array)\nconst raw = $json.data?.[0]?.content?.[0]?.text?.value;\n\nif (!raw) {\n  throw new Error(\"No assistant response found\");\n}\n\n// Remove ```json wrapper if present\nconst cleaned = raw.replace(/^```(?:json)?\\n/, '').replace(/```$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\"Could not parse assistant response: \" + err.message);\n}\n\nconst { title, slug, description, category, body } = parsed;\n\n// Validate critical fields\nif (!slug || !body || !category) {\n  throw new Error(\"Missing required blog metadata (slug, category, or body)\");\n}\n\nif (![\"blog\", \"gift-guides\", \"marketing\"].includes(category)) {\n  throw new Error(`Invalid category: ${category}`);\n}\n\nconst date = new Date().toISOString().split(\"T\")[0];\nconst imagePath = `/images/${category}/${slug}/banner.webp`;\nconst filename = `${slug}.md`;\nconst commitMessage = `Add draft blog post for slug: ${slug}`;\nconst branch = `preview`;\n\n// ✅ Include draft status in frontmatter\nconst frontmatter = `---\\ntitle: \"${title || slug}\"\\ndate: \"${date}\"\\nslug: \"${slug}\"\\ncategory: \"${category}\"\\ndescription: \"${description || ''}\"\\nfeatured_image: \"${imagePath}\"\\nstatus: draft\\n---`;\n\nconst markdown = `${frontmatter}\\n\\n${body}`;\n\nreturn [\n  {\n    json: {\n      blogPost: markdown,\n      filename,\n      commitMessage,\n      branch,\n      category,\n      slug\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "id": "36cfe101-bf8b-4ba0-a572-619818c93c81",
      "name": "Code2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "jtlapenna",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "bright-gift",
          "mode": "name"
        },
        "filePath": "=src/content/{{$node[\"Code2\"].json.category}}/{{$node[\"Code2\"].json.filename}}",
        "fileContent": "={{ $node[\"Code2\"].json.blogPost }}",
        "commitMessage": "={{ $node[\"Code2\"].json.commitMessage }}",
        "additionalParameters": {
          "branch": {
            "branch": "=preview"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1080,
        0
      ],
      "id": "6ded8f75-b483-4ff9-baa5-f9c49e750d80",
      "name": "GitHub",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kYk6Zcu2QIpZ7Prl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/75cdc55a-776c-43fe-8f35-73ff440adf03",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        0
      ],
      "id": "95df82c7-9f10-4b68-bde7-efaf661fc519",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "sendTo": "jeff.lapenna@gmail.com",
        "subject": "=BRIGHT GIFT PREVIEW: {{ $node[\"Code2\"].json.slug }}",
        "message": "=Hi! Your blog post preview is ready:  🔗 {{$json.previewUrl}}/blog/{{$node[\"Code2\"].json.slug}}  Please review it and reply with either: ✅ \"Approved\" to publish it live 📝 Suggestions or edits  Thanks!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1860,
        0
      ],
      "id": "bd7a8e1a-263d-4059-9b96-fd3cb519d002",
      "name": "Gmail7",
      "webhookId": "e0ef8bcb-78de-413c-b99b-022640c223cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/jtlapenna/bright-gift/git/ref/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        0
      ],
      "id": "5867a223-b8d2-4ef9-858c-fb5a0ec8fe15",
      "name": "Get Main SHA",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "36ql9jDsFZ0o5PgW",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/jtlapenna/bright-gift/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    ref: \"refs/heads/preview-\" + $node[\"Code2\"].json.slug,\n    sha: $node[\"Get Main SHA\"].json.object.sha\n  }) \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        380
      ],
      "id": "6a0212a3-0219-408b-9062-d8509a89015a",
      "name": "Create Branch",
      "credentials": {
        "githubApi": {
          "id": "36ql9jDsFZ0o5PgW",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -640
      ],
      "id": "15335a1a-b338-4ba7-a922-873badd6ed35",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      headers: {\n        host: \"thepeakbeyond.app.n8n.cloud\",\n        \"user-agent\": \"axios/1.7.4\",\n        \"content-length\": \"113\",\n        accept: \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n        \"accept-encoding\": \"gzip, br\",\n        \"cdn-loop\": \"cloudflare; loops=1; subreqs=1\",\n        \"cf-connecting-ip\": \"4.182.88.118\",\n        \"cf-ew-via\": \"15\",\n        \"cf-ipcountry\": \"DE\",\n        \"cf-ray\": \"95cc07cae1009137-FRA\",\n        \"cf-visitor\": '{\"scheme\":\"https\"}',\n        \"cf-worker\": \"n8n.cloud\",\n        \"content-type\": \"application/json\",\n        \"x-forwarded-for\": \"4.182.88.118, 172.70.251.60\",\n        \"x-forwarded-host\": \"thepeakbeyond.app.n8n.cloud\",\n        \"x-forwarded-port\": \"443\",\n        \"x-forwarded-proto\": \"https\",\n        \"x-forwarded-server\": \"traefik-prod-users-gwc-3-6db8488cf7-fd82b\",\n        \"x-is-trusted\": \"yes\",\n        \"x-real-ip\": \"4.182.88.118\"\n      },\n      params: {},\n      query: {},\n      body: {\n        thread_id: \"thread_57mWtgtvF7fSjKVVKtkEgOy4\",\n        slug: \"unique-gifts-for-coffee-enthusiasts-brewed-to-perfection\"\n      },\n      webhookUrl: \"https://thepeakbeyond.app.n8n.cloud/webhook/blog-received\",\n      executionMode: \"production\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -640
      ],
      "id": "c5cc4a5d-fe98-41ed-a4fc-da2444f865f6",
      "name": "hardcoded test"
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/accounts/3daae940fcb6fc5b8bbd9bb8fcc62854/pages/projects/bright-gift/deployments?branch=preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer MQpUr9PGg4Uld6TbkfFvRIdbwjb5zHyHc_O8ywRm"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        0
      ],
      "id": "832c0d0a-e81b-4a26-b4ff-5ba4a143eb3a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Get the latest preview deployment URL\nreturn [{\n  json: {\n    previewUrl: $json.result[0].url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ],
      "id": "72ef2428-1282-43ff-b375-b44b0eb00af6",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "q": "subject:\"Re: PREVIEW:\" newer_than:1d is:unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2860,
        0
      ],
      "id": "df69bb6c-93af-4777-8fa1-4f686e3c5640",
      "name": "Check for Approval Emails",
      "webhookId": "a92972d8-9b71-4132-9a8b-1007b14fa529",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function decodeBase64(str) {\n  return Buffer.from(str.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf-8');\n}\n\n// Extract the plain text part from the Gmail payload\nconst parts = $json.payload?.parts || [];\nconst textPart = parts.find(p => p.mimeType === 'text/plain');\nconst encoded = textPart?.body?.data;\n\nconst decodedBody = encoded ? decodeBase64(encoded) : '';\n\n// Check for approval keywords\nconst isApproved = /\\b(approved|approve|yes|publish|live|go)\\b/i.test(decodedBody);\nconst isRejected = /\\b(rejected|reject|no|don't publish|stop)\\b/i.test(decodedBody);\n\n// Extract slug from subject line or email body\nconst subjectSlugMatch = $json.payload?.headers?.find(h => h.name === 'Subject')?.value?.match(/PREVIEW:\\s*(.+)/i);\nconst bodySlugMatch = decodedBody.match(/preview-bright-gift\\.pages\\.dev\\/([\\w-]+)/i);\n\nconst slug = subjectSlugMatch?.[1]?.trim() || bodySlugMatch?.[1] || null;\n\n// Extract any notes or feedback\nconst notesMatch = decodedBody.match(/Notes[:：]?\\s*([\\s\\S]*?)(?:\\r?\\nOn\\s|\\r?\\n>|\\r?\\n?$)/i);\nconst notes = notesMatch?.[1]?.trim() || null;\n\nreturn [\n  {\n    json: {\n      isApproved,\n      isRejected,\n      slug,\n      notes,\n      decodedBody,\n      emailId: $json.id,\n      threadId: $json.threadId,\n      internalDate: $json.internalDate\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        0
      ],
      "id": "7087f5eb-bfbe-4c5f-823c-2ab92d81a5e1",
      "name": "Parse Approval Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "approval-check",
              "leftValue": "={{ $json.isApproved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3260,
        0
      ],
      "id": "a3b78d84-5ab2-435a-9791-bcac83248d1e",
      "name": "Is Approved?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "jtlapenna",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "bright-gift",
          "mode": "name"
        },
        "filePath": "src/content/blog/{{ $json.slug }}.md",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        3480,
        -160
      ],
      "id": "6f9463e3-cd76-40ed-aa86-236d4b7a285a",
      "name": "Get Preview File",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kYk6Zcu2QIpZ7Prl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update frontmatter to remove draft status\nconst content = $json.content;\nconst decodedContent = Buffer.from(content, 'base64').toString('utf-8');\n\n// Remove draft status from frontmatter\nconst updatedContent = decodedContent.replace(/\\nstatus:\\s*draft\\s*\\n/, '\\n');\n\nreturn [\n  {\n    json: {\n      slug: $node[\"approval-parser\"].json.slug,\n      content: updatedContent,\n      commitMessage: `Publish blog post: ${$node[\"approval-parser\"].json.slug}`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        -20
      ],
      "id": "91b69726-a3ae-414b-a161-79d60274699a",
      "name": "Prepare Live Content"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "jtlapenna",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "bright-gift",
          "mode": "name"
        },
        "filePath": "src/content/blog/{{ $json.slug }}.md",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.commitMessage }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        3920,
        -20
      ],
      "id": "bc9724d3-acb3-4649-a9db-e888abe3c29c",
      "name": "Commit to Main Branch",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kYk6Zcu2QIpZ7Prl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/75cdc55a-776c-43fe-8f35-73ff440adf03",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4180,
        -20
      ],
      "id": "8737deab-fab6-41f0-aee1-9869541f79d7",
      "name": "Trigger Live Deployment"
    },
    {
      "parameters": {
        "sendTo": "jeff.lapenna@gmail.com",
        "subject": "=✅ PUBLISHED: {{ $node[\"approval-parser\"].json.slug }}",
        "message": "=Great news! Your blog post has been published to the live site:  🔗 https://bright-gift.com/{{ $node[\"approval-parser\"].json.slug }}  The post is now live and indexed by search engines.  Thanks!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4400,
        -20
      ],
      "id": "933afdaa-cb38-4899-ba05-e68d3e83f5af",
      "name": "Send Publish Confirmation",
      "webhookId": "6d8857af-8f3b-41f6-b2da-c87aebb6e787",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jeff.lapenna@gmail.com",
        "subject": "=❌ REJECTED: {{ $node[\"approval-parser\"].json.slug }}",
        "message": "=Your blog post has been rejected.  Notes: {{ $node[\"approval-parser\"].json.notes || 'No notes provided' }}  The post remains in preview and can be edited.  Thanks!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3480,
        200
      ],
      "id": "bc24beb6-32d7-46d1-ae2a-ea46a3495572",
      "name": "Send Rejection Notification",
      "webhookId": "ab209fc0-bb12-483a-b389-a381307a9cd2",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Get Main SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Main SHA": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "hardcoded test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hardcoded test": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Approval Emails": {
      "main": [
        [
          {
            "node": "Parse Approval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Approval Response": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Get Preview File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Preview File": {
      "main": [
        [
          {
            "node": "Prepare Live Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Live Content": {
      "main": [
        [
          {
            "node": "Commit to Main Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit to Main Branch": {
      "main": [
        [
          {
            "node": "Trigger Live Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Live Deployment": {
      "main": [
        [
          {
            "node": "Send Publish Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail7": {
      "main": [
        [
          {
            "node": "Check for Approval Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8088146d-47da-4ef7-b1be-c627bbea5270",
  "meta": {
    "instanceId": "010748b7a1466c46dced3f8b2bdbc3bc174722f0672e5a4c9529354f5ff306f8"
  },
  "id": "QiNm92Bq30h6iUDG",
  "tags": []
}