_workflow-documents/planning/BrightGift_Idea_Generator_Workflow.json
{
  "name": "BrightGift Idea Generator Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1,3,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        140
      ],
      "id": "ddbdb08f-cd9c-45ba-b6a1-a9b320e1ade9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        40
      ],
      "id": "536c106a-61d1-4b3f-bff5-9994cafd8d06",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "xhYw6tK9BPVC7BMo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json[\"openai_thread_id\"] }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"role\": \"user\",\n  \"content\": \"Generate this week’s SEO‑driven blog idea set… Output markdown only.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        40
      ],
      "id": "68c1b746-a764-4885-bb61-ea761568c66d",
      "name": "HTTP Request1",
      "credentials": {
        "openAiApi": {
          "id": "xhYw6tK9BPVC7BMo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\n  \"assistant_id\": \"asst_MzYkZpfaP5shAHDqOIjygr85\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        40
      ],
      "id": "d0630a25-625b-404d-9eb6-69f02c8a8d9d",
      "name": "HTTP Request2",
      "credentials": {
        "openAiApi": {
          "id": "xhYw6tK9BPVC7BMo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        40
      ],
      "id": "f38e311f-d96b-466f-9b7e-7d831289129f",
      "name": "HTTP Request3",
      "credentials": {
        "openAiApi": {
          "id": "xhYw6tK9BPVC7BMo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2180,
        40
      ],
      "id": "ecd37130-abd3-4702-83ed-3186aa756e41",
      "name": "Wait",
      "webhookId": "43eb93d8-91b2-4ebc-84a2-7bbf080b98dd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3a990bd-c72b-430b-b426-4166bea9f854",
              "leftValue": "={{ $json[\"status\"] }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        40
      ],
      "id": "e0a4e909-a3d3-4e10-a756-2124bd367ca0",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"retryCount\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        40
      ],
      "id": "fe0ee498-9551-4839-9068-32deb3a93a0b",
      "name": "Initialize Retry Counter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a10063e-afd0-49a3-9e73-58eabd2ab613",
              "name": "retryCount",
              "value": "={{$json[\"retryCount\"] ? $json[\"retryCount\"] + 1 : 1}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        300
      ],
      "id": "30f54ead-2b8f-4d51-a4be-37610e02b867",
      "name": "Initialize Retry Counter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "774ef589-3410-4eab-8201-de543aa597a7",
              "leftValue": "={{$json[\"retryCount\"]}}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2340,
        500
      ],
      "id": "e9d4c221-7ecd-469d-bb4d-eef835042795",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "jeff.lapenna@gmail.com",
        "subject": "❌ BrightGift Agent Timeout Alert after 10 Tries",
        "message": "=The BrightGift GPT idea generator failed to complete its response after 10 attempts.\n\nTimestamp: {{ $now }}\nWorkflow: {{ $workflow.name }}\n\nPlease review the logs in n8n and rerun the assistant manually if needed.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2560,
        520
      ],
      "id": "288d84b3-0370-4c6a-844c-713295f9f624",
      "name": "Gmail",
      "webhookId": "4a6cf467-a72e-43dc-9ccd-cb8d0782b7e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "GPT idea assistant failed after maximum retries. Alert email sent to Jeff."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2760,
        520
      ],
      "id": "67f81e10-f52b-4579-a8dc-c6cf64439374",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $node[\"HTTP Request1\"].json[\"thread_id\"] }}/runs/{{ $node[\"HTTP Request3\"].json[\"id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": " application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        40
      ],
      "id": "31b110d9-c4bf-4908-8d36-63e4bf68e471",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5331aa83-15d3-4179-b8c3-4bb4bbe1e9a2",
              "leftValue": "={{ $node[\"HTTP Request13\"].json.data[0].role }}",
              "rightValue": "assistant",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3020,
        60
      ],
      "id": "9956b9bc-5eb7-408c-aeac-a867736feac6",
      "name": "If2"
    },
    {
      "parameters": {
        "sendTo": "jeff.lapenna@gmail.com",
        "subject": "Blog Ideas Ready for Review",
        "message": "=<p>The assistant has generated blog ideas. Please review and reply with your choice and any notes.</p>\n\n<p><strong>Thread ID:</strong> {{ $json[\"thread_id\"] }}</p>\n\n{{ $json[\"html\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3720,
        40
      ],
      "id": "77668296-e7be-4e6a-95ad-08fdb68fb00e",
      "name": "Gmail1",
      "webhookId": "f299b856-b9e6-4169-9388-447eb7d16890",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jsb6Z1IiQiBhEa5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "237cdc52-3a2b-431a-b92e-bc1a1d0aa7b5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        -60
      ],
      "id": "04cf2e03-7c9f-4be0-96f2-98fc0b483d00",
      "name": "Webhook",
      "webhookId": "237cdc52-3a2b-431a-b92e-bc1a1d0aa7b5"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $node[\"HTTP Request1\"].json[\"thread_id\"] }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        -160
      ],
      "id": "a254acb6-2975-4a66-a918-3c15cc8f5b67",
      "name": "HTTP Request13",
      "credentials": {
        "openAiApi": {
          "id": "xhYw6tK9BPVC7BMo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $node[\"HTTP Request13\"].json.data[0].content[0].text.value }}",
        "destinationKey": "={{ $json[\"html\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        3260,
        40
      ],
      "id": "6d4ead25-0bba-45b7-bc79-9e43663ed42c",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd20f5c8-3bca-4302-a000-e1053c289eff",
              "name": "openai_thread_id",
              "value": "={{ $json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        40
      ],
      "id": "c96497fc-5a5f-49ca-8f4e-e172e9bd3845",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      debug_log: `Thread ID going into run: ${$json.thread_id}`,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        40
      ],
      "id": "bac323b6-bed0-4808-a449-2f19e3df650b",
      "name": "TemporaryCode"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      openai_thread_id: $json[\"id\"], // forward the thread ID under this key\n      ...$json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        40
      ],
      "id": "fc7b2199-f312-4cc1-ba84-e047222de783",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const markdown = $node[\"Markdown\"].json.data[0].content[0].text.value;\nconst threadId = $node[\"Markdown\"].json.data[0].thread_id;\n\nconst htmlContent = markdown\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')   // bold\n  .replace(/\\n/g, '<br>');                             // line breaks\n\nconst wrappedHtml = `<div style=\"font-family:sans-serif; line-height:1.6;\">${htmlContent}</div>`;\n\nreturn [\n  {\n    json: {\n      thread_id: threadId,\n      html: wrappedHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3480,
        40
      ],
      "id": "729362e4-d4cf-4a24-8fbb-37a5ad3614a4",
      "name": "Code1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "thepeakbeyond.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "2",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "98.56.162.34",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "95d1adb9c0f20891-SEA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "98.56.162.34, 108.162.245.8",
            "x-forwarded-host": "thepeakbeyond.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-xdw5h",
            "x-is-trusted": "yes",
            "x-real-ip": "98.56.162.34"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://thepeakbeyond.app.n8n.cloud/webhook/237cdc52-3a2b-431a-b92e-bc1a1d0aa7b5",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "TemporaryCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Initialize Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Initialize Retry Counter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Retry Counter": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Retry Counter1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Initialize Retry Counter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TemporaryCode": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6444d534-4b12-4118-979e-3ad833da2b4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "010748b7a1466c46dced3f8b2bdbc3bc174722f0672e5a4c9529354f5ff306f8"
  },
  "id": "Xe15XzyutFCQ5HoL",
  "tags": []
}